@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>客戶管理</h1>
	<p class="lead">維護客戶資料、聯絡人、及銀行帳戶明細</p>
	@*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
	<div class="col-md-4">
		<h2>客戶資料管理</h2>
		<p></p>
		<p>@Html.ActionLink("客戶資料管理", "Index", "CustomerData", null, new { @class = "btn btn-primary" })</p>
	</div>
	<div class="col-md-4">
		<h2>客戶聯絡人管理</h2>
		<p></p>
		<p>@Html.ActionLink("客戶聯絡人管理", "Index", "CustomerContact", null, new { @class = "btn btn-primary" })</p>
	</div>
	<div class="col-md-4">
		<h2>客戶銀行帳戶管理</h2>
		<p></p>
		<p>@Html.ActionLink("客戶銀行帳戶管理", "Index", "CustomerBankAccount", null, new { @class = "btn btn-primary" })</p>
	</div>
</div>